/* :root {} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
body {
  min-height: 100vh;
  background: #020024;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(11, 1, 69, 1) 74%, rgba(15, 31, 37, 1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
}

.box-home {
  width: 76%;
  min-width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.header {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 32px 34px;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: .1rem solid rgba(210, 209, 207, 0.338); */
  border-bottom: .1rem solid rgba(210, 209, 207, 0.19);
}

.toggle-container {
  width: 350px;
  height: 60px;
  text-align: center;
  /* background: #3b3b6eb9; */
}

.toggle-action {
  all: unset;  
  border: none;
  padding: 12px 24px;
  background: #3b3b6e61;
  border-radius: 8px;
  margin: 8px 4px;
}

a {
  text-decoration: none;
  color: #8c00f7;
}

.main-section {
  width: 520px;
  padding: 40px;
}

.title {
  width: 100px;
  padding: 8px 12px;
  margin-bottom: 24px;
  text-align: center;
  border-radius: 50px;
  border: .1rem solid rgba(210, 209, 207, 0.16);
  color: #8c00f7;
  background: #3b3b6eb9;
}

.title-about {
  width: 120px;
  padding: 8px 16px;
  margin-bottom: 24px;
  text-align: center;
  border-radius: 50px;
  border: .1rem solid rgba(210, 209, 207, 0.16);
  color: #8c00f7;
  background: #3b3b6e61;
}

.text-efect {
  background: linear-gradient(0.35turn, #7f5bf5 15%, #4ba2d4 35%, #3bf6ea 75% );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  width: 350px;
  padding: 24px 0;
  justify-content: flex-start;
  gap: 18px;
  /* background-color: brown; */
}

.learn-more {
  border: none;
  padding: 18px 28px;
  background: #ad00f7b9;
  border-radius: 8px;
  box-shadow: 
    0 0 10px #ad00f7d9,
    0 0 20px #ad00f76a;
  font-size: 1rem;
  font-weight: 600;
}

.take-to-me {
  border: none;
  padding: 18px 28px;
  border-radius: 8px;
  /* border: .1rem solid rgba(210, 209, 207, 0.338); */
  border: .1rem solid rgba(210, 209, 207, 0.19);
  background: #f5f5f500;
  font-size: 1rem;
  font-weight: 600;
}

.cards-container {
  width: 100%;
  height: 40vh;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.cards {
  width: 50%;
  min-width: 280px;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2.4rem;
  border-radius: 12px;
  background: #343d4686;
  border: .1rem solid rgba(210, 209, 207, 0.12);
}

.icons {
  width: 40px;
  height: 40px;
  font-size: 1rem;
}

.paragraph {
    font-weight: 100;
    color: rgba(188, 187, 187, 0.82);
}

.footer {
  width: 100%;
  height: 46px;
  display: flex;
  padding: 32px 34px;
  align-items: center;
  justify-content: center;
  border-top: .1rem solid rgba(210, 209, 207, 0.19);
}

p {
  font-size: .8rem;
  color: rgba(188, 187, 187, 0.82);
}



.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #020024;
  background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(11, 1, 69, 1) 74%, rgba(15, 31, 37, 1) 100%);
}

.main-container {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px;
  margin-top: 3rem;
}

.main-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}

.box-body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-contact {
  /* width: 100vw;
  max-width: 74%; */
  width: 76%;
  min-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40x;
}

.circle-about {
  width: 80px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(0.35turn, #7f5bf5 15%, #4ba2d4 35%, #3bf6ea 75% );
}

.text {
  font-size: 1.1rem;
  font-weight: 900;
  color: #ffffff;
}

.description-block {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  background: #343d4686;
  border: .1rem solid rgba(210, 209, 207, 0.12);
  margin-top: 3rem;
}

.box-container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.box {
  width: 50%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  border-radius: 12px;
  background: #343d4686;
  border: .1rem solid rgba(210, 209, 207, 0.12);
}

.graphic-1 {
  width: 100%;
  height: .4rem;
  border-radius: 12px;
  background: #cccccc16;
}

.graphic-2 {
  width: 100%;
  height: .4rem;
  border-radius: 12px;
  background: #cccccc16;
}

.graphic-3 {
  width: 100%;
  height: .4rem;
  border-radius: 12px;
  background: #cccccc16;
}

.graphic-4 {
  width: 100%;
  height: .4rem;
  border-radius: 12px;
  background: #cccccc16;
}

.fill-1 {
  width: 90%;
  height: .4rem;
  border-radius: 12px;
  background: linear-gradient(0.35turn, #7f5bf5 15%, #4ba2d4 35%, #3bf6ea 75% );
}

.fill-2 {
  width: 70%;
  height: .4rem;
  border-radius: 12px;
  background: linear-gradient(0.35turn, #7f5bf5 15%, #4ba2d4 35%, #3bf6ea 75% );
}

.fill-3 {
  width: 80%;
  height: .4rem;
  border-radius: 12px;
  background: linear-gradient(0.35turn, #7f5bf5 15%, #4ba2d4 35%, #3bf6ea 75% );
}

.fill-4 {
  width: 60%;
  height: .4rem;
  border-radius: 12px;
  background: linear-gradient(0.35turn, #7f5bf5 15%, #4ba2d4 35%, #3bf6ea 75% );
}


.aboult-grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

.date {
  width: 4rem;
  height: 2rem;
  padding: 8px;
  text-align: center;
  border-radius: 6px;
  color: #8c00f7;
  background: #3b3b6e65;
}

.info-text {
  display:  solid rgba(210, 209, 207, 0.16);
  width: 90%;
  height: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.container-cantact {
  width: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 8px;
  margin-top: 2.6rem;
}

.container-cardcontact {
  height: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  /* background-color: #4ba2d4; */
}


.cards-contact {
  min-width: 350px;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem;
  gap: 1.8rem;
  border-radius: 16px;
  background: #343d4686;
  border: .1rem solid rgba(210, 209, 207, 0.12);
}

.title-contact {
  padding: 8px 16px;
  margin-top: 6rem;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 50px;
  border: .1rem;
  color: #8c00f7;
  background: #3b3b6e61;
  border: .1rem solid rgba(210, 209, 207, 0.16);
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.box-toggles {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.8rem;
}

.toggles {
  all: unset;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  border: .1rem solid rgba(210, 209, 207, 0.12);
}

.container-form {
  min-width: 500px;
  width: 350px;
  height: auto;
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  border-radius: 16px;
  background: #343d4686;
  border: .1rem solid rgba(210, 209, 207, 0.12);
  margin-bottom: 2rem;
}

.form {
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
}

.contact-title {
  color: #ffffff;
  margin-bottom: 0.8rem;
}

input {
  all: unset;
  padding: 0.8rem;
  background: #2c546b51;
  border-radius: 8px;
  border: .1rem solid rgba(210, 209, 207, 0.12);
  margin-bottom: 1.2rem;
}

textarea {
  padding: 1rem;
  height: 12vh;
  color: #ffffff;
  background: #2c546b51;
  border-radius: 8px;
  border: .1rem solid rgba(210, 209, 207, 0.12);
  margin-bottom: 1rem;
}

.btn-submit {
  all: unset;
  text-align: center;
  padding: 0.6rem;
  border-radius: 8px;
  background: #8c00f7;
  cursor: pointer;
}